:root {
  --button-color: #3b82f6;
  --button-color-hover: #2563eb;
}

header {
  width: 100%;
  background-color: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 25px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
}

header > div button:first-child {
  color: var(--button-color);
  background-color: #fff;
  border: 1px solid var(--button-color);
}

header > div button:hover:first-child {
  background-color: aliceblue;
}

header > h1 {
  padding: 0;
  width: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 900;
  cursor: pointer;
  color: var(--button-color);
  text-decoration: none;
}

header a {
  text-decoration: none;
  color: inherit;
}
