@import url("main.css");
@import url("header.css");
@import url("button-style.css");
@import url("footer.css");

:root {
  --home-color: #8fb6d9a3;
}

main {
  text-align: center;
}

main p {
  margin: 10px;
  font-size: larger;
}

main h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

main button {
  width: 200px;
  margin: 0 15px;
}

.cards-section {
  display: flex;
  width: 100%;
  min-height: 50vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: linear-gradient(135deg, #a4e0f967 67%, #8fb6d9, aliceblue);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.cards-section article {
  margin: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  min-height: 200px;
  width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1);
}

.cards-section article:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

@media (max-width: 768px) {
  main p {
    font-size: 1rem;
  }

  main button {
    width: 100%;
    max-width: 250px;
    margin: 10px 0;
  }

  .cards-section {
    flex-direction: column;
    height: auto;
    padding: 30px 15px;
  }

  .cards-section article {
    width: 100%;
    margin: 10px 0;
  }
}
